* {
    font-family: Arial, Helvetica, sans-serif;  
}
body{
   background-color: rgba(235, 238, 235, 0.818); 
}
.left_right{
    display: flex; 
    margin-top: 20px; 
}
.left_right .skill1 {
    text-align: center; 
    color: aliceblue; 
    border-radius: 100px; 
}
.left {
    width: calc(40%); 
    height: 1100px; 
    background-color: aliceblue; 
    padding: 20px; 
    margin-right: 20px;
    margin-left: 20px;
}
.left .imgcv{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}
.right {
    width: calc(60%);
    height: 1050px;
    background-color: aliceblue;
    padding: 20px;
}
.footer {
    background-color:#5be669;
    padding: 90px;
    color:black;
    text-align: center;
}
   
.link_icon {
    text-align: center;
}

.link_icon i {
    color:black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}